.container {
  width: 1200px;
  height: 1760px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #111010fd;
  margin-top: 0px;
  margin-bottom: 0px;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

body {
  color: #111010fd;
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
}

.main-content__section {
  padding: 10px 80px;
}

.aside-section {
  background-color: #0b0c0bbd;
  width: 370px;
  padding: 40px 0 10px 0;
}

.tech-skills {
  margin: 50px 40px 0px 40px;
}

.soft-skills {
  margin: 50px 40px 0px 40px;
}

.languages {
  margin: 50px 40px 0px 40px;
}

.horisontal-line {
  border-color: #f8bf02f5;
  background-color: #f8bf02f5;
}

.photo {
  width: 380px;
  padding-left: 35px;
  padding-right: 35px;
}

.contacts {
  margin: 50px 40px 50px 40px;
}

.contacts-heading {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 15px;
  line-height: 27px;
  color: #f8bf02f5;
}

.contacts-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-size: 15px;
  line-height: 0.03em;
  margin-bottom: 8px;
  cursor: pointer;
}

.contacts-link:hover, .contacts-link:focus {
  color: #f8bf02f5;
}

.contacts-icons {
  bottom: 2px;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  fill: #f8bf02f5;
}

.tech-skills__list {
  margin-left: 10px;
}

.tech-skills__list--item {
  color: #f8bf02f5;
  margin-left: 12px;
  margin-bottom: 8px;
}

.tech-skills__list--text {
  color: #ffffff;
}

.soft-skills__list {
  margin-left: 10px;
}

.soft-skills__list--item {
  color: #f8bf02f5;
  margin-left: 12px;
  margin-bottom: 8px;
}

.soft-skills__list--text {
  color: #ffffff;
}

.languages-list {
  margin-left: 10px;
}

.languages-list__item {
  color: #f8bf02f5;
  margin-left: 12px;
  margin-bottom: 8px;
}

.languages-list__text {
  color: #ffffff;
}

.about-me__heading {
  font-size: 70px;
  font-weight: bold;
}

.about-me__profession {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.about-me__text {
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  font-weight: 400;
}

.my-project__heading {
  font-size: 35px;
  font-weight: bold;
  margin: 25px 0 25px 0;
}

.my-project__block--title {
  font-size: 17px;
  font-weight: bold;
}

.my-project__block--text {
  color: #f8bf02f5;
  font-size: 17px;
  display: inline-block;
  text-decoration: underline;
  margin-left: 5px;
  line-height: 24px;
}

.my-project__block--period {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
  color: #757575;
}

.my-project__list {
  padding-left: 20px;
}

.my-project__list--text {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 24px;
  color: #111010fd;
}

.my-project__list--link {
  text-decoration: underline;
  display: inline-block;
}
/*# sourceMappingURL=main.css.map */