.about-me__heading {
  font-size: 70px;
  font-weight: bold;
}

.about-me__profession {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.about-me__text {
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: $third-text-color;
  font-weight: 400;
}
