.photo {
  width: 380px;
  padding-left: 35px;
  padding-right: 35px;
}

.contacts {
  margin: 50px 40px 50px 40px;
}

.contacts-heading {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 15px;
  line-height: 27px;
  color: $accent-color;
}

.contacts-link {
  display: flex;
  align-items: center;
  color: $second-text-color;
  font-size: 15px;
  line-height: 0.03em;
  margin-bottom: 8px;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.contacts-icons {
  bottom: 2px;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  fill: #f8bf02f5;
}
