.languages-list {
  margin-left: 10px;
}

.languages-list__item {
  color: $accent-color;
  margin-left: 12px;
  margin-bottom: 8px;
}

.languages-list__text {
   color: $second-text-color;
  //  color: black;
  //  font-weight: 500;
}
