.main-content__section {
  padding: 10px 80px;
}

.aside-section {
  background-color: $second-bg-color;
  width: 370px;
  padding: 40px 0 10px 0;
}

.tech-skills {
  margin: 50px 40px 0px 40px;
}

.soft-skills {
  margin: 50px 40px 0px 40px;
}

.languages {
  margin: 50px 40px 0px 40px;
}

.horisontal-line {
  border-color: $accent-color;
  background-color: $accent-color;
}
