.soft-skills__list {
  margin-left: 10px;
}

.soft-skills__list--item {
  color: $accent-color;
  margin-left: 12px;
  margin-bottom: 8px;
}

.soft-skills__list--text {
  color: $second-text-color;
  //  color: black;
  //  font-weight:500;
}
