.tech-skills__list {
  margin-left: 10px;
}

.tech-skills__list--item {
  color: $accent-color;
  margin-left: 12px;
  margin-bottom: 8px;
}

.tech-skills__list--text {
  color: $second-text-color;
}
