.my-work__title {
  font-size: 35px;
  font-weight: bold;
  margin: 25px 0 10px 0;
}

.my-work__specialization {
  font-size: 17px;
  font-weight: bold;
}

.my-work__link {
  display: inline-block;
  color: $accent-color;
  margin-left: 5px;
  text-decoration: underline;
}

.my-work__description {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
  color: $third-text-color;
}

.my-work__list {
  padding-left: 20px;
}

.my-work__list--item {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 24px;
  color: $primary-text-color;

  &:last-child {
    margin-bottom: 15px;
  }
}
